
.container {
  display: flex;

  .left {
    height: calc(100vh - 60px);
    .menu {
      height: 100%;
    }
  }

  .right {
    flex: 1;
  }
}

.bg-on {
  background: rgba(255, 255, 0, 0.3) !important
}

.bg-off {
  color: red;
}